<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>PanghuPet</legend>
</fieldset>

<ul class="layui-nav">
    <li class="layui-nav-item"><a href="">首页</a></li>
    <li class="layui-nav-item layui-this">
        <a href="javascript:;">视频</a>
        <dl id="spiderMenu" class="layui-nav-child">
            <dd v-for="item in items"><a href="">{{item.message}}</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">图片</a></li>
    <li class="layui-nav-item"><a href="">我的</a></li>
</ul>